@charset "UTF-8";
@import url("reset.css");

body{


    background: #1d1d1d;
    /*background: url("../img/top_bg.png") no-repeat center center;*/
    /*background-size: cover;*/
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    border: 1px solid white;
    padding: 18px 80px 20px;
    text-transform: uppercase;
    color:  white;
    text-decoration: none;

    font-weight: 500;
    font-style: normal;
    font-size: 0.65rem;
    letter-spacing: 0.3em;
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,Sana;

    transition: all 0.7s ease-out;

    margin: 0.7rem;
}

.in{
    background: linear-gradient(270deg, rgba(137,247,254,0.8), rgba(102,166,255,0.8), rgba(0,0,0,0), rgba(0,0,0,0));
    background-size: 300% 300%;
    background-position: 1% 50%;
}
.up{
    background: linear-gradient(270deg, rgba(250,112,154,0.8), rgba(254,225,64,0.8), rgba(0,0,0,0), rgba(0,0,0,0));
    background-size: 300% 300%;
    background-position: 1% 50%;
}

.btn:hover{
    color: white;
    border: 1px solid rgba(193,164,112,0);
    background-position: 99% 50%;
}